{% extends 'adminlte/base.html' %}

{% block logo %}
    <div class="login-logo">
    <a href="{% block logo_href %}/{% endblock %}">
        {% block logo_text %}<b>Dale</b>La Pata{% endblock %}</a>
    </div>
{% endblock %}
{% block scripts %}

{% endblock %}
{% block content %}
    <div class="table-responsive">    
    <button><a href="{% url "users:f_new"%}">Agregar usuario</a></button>      
      <table id="myTable" class="table">
        <thead>
          <tr class="clickable-row">
            <th>Tipo Id</th>
            <th>Numero Id</th>
            <th>Nombres</th>
            <th>Email</th>
            <th>Facebook</th>
            <th>Rol</th>
            {% if object.is_superuser %}
            <th>Fundacion</th>
            {% endif %}
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for ownerprofile in object_list %}
          <tr>
            <td>{{ ownerprofile.tipo_identificacion }}</td>
            <td>{{ ownerprofile.num_identificacion }}</td>
            <td>{{ ownerprofile.nombre_completo }}</td>
            <td>{{ ownerprofile.email }}</td>
            <td>{{ ownerprofile.facebook }}</td>
            <td>{{ ownerprofile.get_rol }}</td>
            {% if object.is_superuser %}
             <td>{{ ownerprofile.fundacion.razon_social }}</td>
            {% endif %}
            <td><a href="{% url "users:f_detail" ownerprofile.id %}">Ver</a>| 
                <a href="{% url "users:f_edit" ownerprofile.id %}">Editar</a>|
                <a href="{% url "users:f_delete" ownerprofile.id %}">Borrar</a></td>
          </tr>
          {% empty %}
            <tr>
              <td colspan="7" class="text-center bg-warning">No existen datos</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}

