{% extends '_layouts/base.html' %}
{% load i18n static %}

{% block title %}{% trans 'Registered Pet' %}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-9">

      <h2>Gracias!</h2>

      <p>Este registro será compartdido automaticamente en <a href="https://www.facebook.com/dalelapata">Facebook</a>
        y en <a href="https://twitter.com/dalelapata">Twitter</a>! :)</p>

      <p>Para visualizar la mascota puedes dar click <a href="{% url 'meupet:detail' pet_slug %}">aqui</a>.</p>

      <p>Puedes compartir esta pagina en redes sociales:</p>

      <ul class="list-unstyled list-inline">
        <li>
          <a href="{{ facebook_url }}" target="_blank" rel="noreferrer noopener">
            <img src="{% static 'img/facebook.png' %}" alt="Facebook"/>
          </a>
        </li>
        <li>|</li>
        <li>
          <a href="{{ twitter_url }}" target="_blank" rel="noreferrer noopener">
            <img src="{% static 'img/twitter.png' %}" alt="Twitter"/>
          </a>
        </li>
      </ul>

      <p>Gracias por el apoyo! <i class="c-red fa fa-heart"></i></p>
    </div>
  </div>
{% endblock %}
