{% extends '_layouts/base.html' %}
{% load static %}

{% block title %}Sobre{% endblock %}

{% block content %}
  <p>
   Esto es dale la pata
  </p>

  <p>
  Dale la pata es una plataforma de centralización y trazabilidad en el proceso de adopción, para la gestión de información en fundaciones animalistas. Hace uso de los storytelling (historias fáciles de recordar) a través de redes sociales para potenciar, incentivar y fomentar la adopción de estos grandes compañeros.
  </p>



  <h2 class="text-center">Apoyo:</h2>
  <div class="row sponsors">
    <div class="col-md-3">
      <a href="https://m.do.co/c/9125da8d6399" target="_blank" rel="">
        <img class="img-responsive" src="{% static 'img/logotic.png' %}" alt="DigitalOcean logo">
      </a>
    </div>
  </div>
{% endblock %}
