{% extends '_layouts/base.html' %}
{% load static %}

{% block title %}Sobre{% endblock %}

{% block content %}
  <p>
   Esto es dale la pata
  </p>

  <p>
    Aqui puedes encontrar amigos y compartir muchas experiencias en tus redes sociales
  </p>

  <h2 class="text-center">Nuestros numeros</h2>
  <div class="row">
    <div class="col-md-6">
      <p class="site-stats">{{ pets_count }} Mascotas registradas</p>
      <p>Contando activos e inactivoss</p>
    </div>

    <div class="col-md-6">
      <p class="site-stats">{{ users_count }} Usuarios registrados</p>
    </div>
  </div>

  <h2 class="text-center">Patrocinadores</h2>
  <div class="row sponsors">
    <div class="col-md-3">
      <a href="https://m.do.co/c/9125da8d6399" target="_blank" rel="noreferrer noopener">
        <img class="img-responsive" src="{% static 'img/sponsors/digitalocean.png' %}" alt="DigitalOcean logo">
      </a>
    </div>
  </div>
{% endblock %}
