{% extends 'adminlte/base.html' %}
{% load i18n static %}
{% block content %}
  <div class="row">
    <div class="col-md-9">

      <h2>{{ relacion.usuario.nombre_completo }} Ha adoptado a {{ relacion.mascota.name }}!</h2>

      <p>Esta informacion sera compartida automaticamente en <a href="https://www.facebook.com/fbfundacion">Facebook</a>
        y tambien en <a href="https://twitter.com/twfundacion">Twitter</a> de la fundación {{ relacion.usuario.fundacion.nombre_corto }} ! :)</p>

      <p>Para ver los detalles de este gran amigo <a href="{% url 'meupet:detail' pet_slug %}">aqui</a>.</p>

      <p>
        Sigue descrubriendo nuevos amigos en  <a href="{% url 'meupet:index'  %}">aqui</a>.</p>.</p>

      <p>Puedes compartir este sitio en las redes sociales</p>

      <ul class="list-unstyled list-inline">
        <li>
          <a href="{{ facebook_url }}" target="#" rel="noreferrer noopener">
            <img src="{% static 'img/facebook.png' %}" alt="Facebook"/>
          </a>
        </li>
        <li>|</li>
        <li>
          <a href="{{ twitter_url }}" target="_blank" rel="noreferrer noopener">
            <img src="{% static 'img/twitter.png' %}" alt="Twitter"/>
          </a>
        </li>
      </ul>

      <p>Gracias por tu apoyo! <i class="c-red fa fa-heart"></i></p>
    </div>
  </div>
{% endblock %}
