{% extends 'adminlte/base.html' %}
{% load i18n static %}
{% load i18n static thumbnail %}

{% block content %}
    <div class="modal fade" id="delete_pet" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">{% trans 'Ver contrato' %}</h4>
                </div>

                <div class="modal-body">
                    <table style="height: 42px; width: 705px;">
                        <tbody>
                            <tr style="height: 77px;">
                                <td style="width: 118px; height: 77px;">Fecha:</td>
                                <td style="width: 470px; height: 77px; text-align: center;">CONTRATO LEGAL DE ADOPCION DE UN ANIMAL DE COMPA&Ntilde;IA
                                <br>{{relacion.mascota.fundacion.nombre_corto}}</td>
                                <td style="width: 99px; height: 77px; text-align: center;">LOGO</td>
                            </tr>
                        </tbody>
                    </table>
                    <table style="height: 73px;" width="704">
                        <tbody>
                            <tr>
                                <td style="width: 169px;">&nbsp; {{relacion.mascota.name}}</td>
                                <td style="width: 169px;">&nbsp; {{relacion.usuario.nombre_completo}}</td>
                                <td style="width: 169px;">&nbsp;</td>
                                <td style="width: 169px;">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancelar' %}</button>

                    
                </div>

            </div>
        </div>
    </div>

        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#delete_pet" data-modal-mobile-viewport-width="s">
                {% trans 'Ver contrato' %}
     </button>

        
        <!-- -->

<div class="container col-sm-12 col-md-12">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                        <h4 class="panel-title">
                            <span class="glyphicon glyphicon-folder-close"></span>
                            Content
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-pencil text-primary"></span><a href="http://www.jquery2dotnet.com">Articles</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-flash text-success"></span><a href="http://www.jquery2dotnet.com">News</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-file text-info"></span><a href="http://www.jquery2dotnet.com">Newsletters</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-comment text-success"></span><a href="http://www.jquery2dotnet.com">Comments</a>
                                        <span class="badge">42</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                        <h4 class="panel-title">
                            <span class="glyphicon glyphicon-th"></span>
                            Modules
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Orders</a> <span class="label label-success">$ 320</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Invoices</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Shipments</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Tex</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                        <h4 class="panel-title">
                            <span class="glyphicon glyphicon-user"></span>
                            Adjuntar Contrato
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">
                            
                            {% if seguimiento.adjuntos_seguimiento_set.all %}
                              <div class="col-md-12">
                                <h3>{% trans 'Mas fotos!' %}</h3>

                                <div class="row">
                                  {% for adjuntos_seguimiento in seguimiento.adjuntos_seguimiento_set.all %}
                                    <div class="col-md-3">
                                      <a href="{{ adjuntos_seguimiento.adjunto.url }}" data-lightbox="{{ relacion }}" data-title="{{ relacion.mascota }}">
                                        <img class="img-thumbnail" src="{{ adjuntos_seguimiento.adjunto|thumbnail_url:'seguimiento_thumb' }}"
                                             alt="{{ relacion }}"/>
                                      </a>
                                    </div>
                                    {% if forloop.counter|divisibleby:4 %}
                                      </div>
                                      <div class="row">
                                    {% endif %}
                                  {% endfor %}
                                  </div>
                              </div>
                            {% endif %}

                            <form class="form-horizontal" method="POST" enctype="multipart/form-data"
                            action="{% url 'adopcion:upload_image' relacion.id %}">
                            {% csrf_token %}
                            <input name="pet_id" value="{{ pet.id }}" type="hidden">

                            <div class="form-group">
                                <label for="another_picture" class="control-label">{% trans 'Agregar foto' %}</label>
                                <input type="file" id="another_picture" name="another_picture">
                                <span class="help-block">{% trans 'Maximo tamaño de imagen 8MB' %}</span>
                            </div>
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-primary pull-right" value="{% trans 'Subir Imagen' %}">
                            </div>
                            </form>

                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                        <h4 class="panel-title">
                            <span class="glyphicon glyphicon-file"></span>
                            Completar contrato
                        </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                        <div class="panel-body">
                            <form method="POST" class="post-form">{% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" class="save btn btn-success">Completar proceso adopción</button>
                                <br>
                            </form>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}