<table style="height: 42px; width: 705px;">
    <tbody>
        <tr style="height: 77px;">
            <td style="width: 118px; height: 77px;">Fecha:</td>
            <td style="width: 470px; height: 77px; text-align: center;">CONTRATO LEGAL DE ADOPCION DE UN ANIMAL DE COMPA&Ntilde;IA
            relacion.user.fundacion.nombre_corto</td>
            <td style="width: 99px; height: 77px; text-align: center;">LOGO</td>
        </tr>
    </tbody>
</table>
<table style="height: 73px;" width="704">
    <tbody>
        <tr>
            <td style="width: 169px;">&nbsp;</td>
            <td style="width: 169px;">&nbsp;</td>
            <td style="width: 169px;">&nbsp;</td>
            <td style="width: 169px;">&nbsp;</td>
        </tr>
    </tbody>
</table>